body {
  overflow-x: hidden;
}

.index_title{
  font-size: 25px;
}
.index_ticket{
  text-align: center;
}

/* Sidebar */
#sidebar {
  width: 220px;
  min-height: 100vh;
  background: #573789;
  color: #fff;
  transition: width 0.3s;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;

  
}

#sidebar.collapsed {
  width: 80px;
}

#sidebar .nav-link {
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.3s;
  margin-left: -10px;
}

#sidebar .nav-link i {
  margin-right: 10px;
}

#sidebar a img#sidebarLogo {
  margin-left: -10px;
}

#sidebar.collapsed .nav-link span {
  display: none;
}

/* Sidebar toggle button */
#toggleSidebar {
  position: absolute;
  top: 10px;
  right: -10px;
  background: #573789;
  border: none;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

/* Content */
#content {
  margin-top: 20px;
  flex: 1;
  padding: 20px;
  transition: all 0.3s;
}

/* Card body padding */
.card-body {
  padding-left: 30px;
  color: black;
}


/* Sidebar logo */
#sidebarLogo {
  height: 60px;
  width: auto;
  max-width: 200px;
  transition: max-width 0.3s ease;
  display: block;
}

#sidebar.collapsed #sidebarLogo {
  height: 60px;
}

/* Chart container wrapper */
.chart-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.main-content {
  padding: 20px;
}

.tribe-section {
  margin-bottom: 30px;
}

.tribe-section h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
  color: #573789;
}

.tribe-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* ensures column widths are fixed */
}

.tribe-table th, .tribe-table td {
  border: 1px solid #ddd;
  padding: 6px 10px;
  font-size: 0.9rem;
  word-wrap: break-word;
}

.tribe-table th {
  background-color: #f4f4f4;
}

.tribe-table tr:nth-child(even) {
  background-color: #fafafa;
}

.tribe-table a {
  color: #573789;
  text-decoration: none;
}

/* Column widths */
.tribe-table th:nth-child(1), .tribe-table td:nth-child(1) { width: 10%; }
.tribe-table th:nth-child(2), .tribe-table td:nth-child(2) { width: 25%; }
.tribe-table th:nth-child(3), .tribe-table td:nth-child(3) { width: 50%; }
.tribe-table th:nth-child(4), .tribe-table td:nth-child(4) { width: 15%; }

/* Sidebar fixes */
.sidebar {
  width: 250px;
  min-width: 250px;
}

.sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}

/* Font size for all tables inside reports */
#reportsContainer table {
  font-size: 14px; 
}

#suggestionsList {
  max-height: 250px;
  overflow-y: auto;
}


#searchBarWrapper {
  margin-top: -30px; /* move upward */
}

